header:after, #timeline .timeline-item:after, header:before, #timeline .timeline-item:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: none;
}

body {
    background: #f9f9f9;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, tahoma, verdana;
    color: #726f77;
}

img {
    max-width: 100%;
}

.header {
    position: absolute;
    line-height: 20px;
    font-size: 14px;
    left: 20px;
    top: 20px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

h1 {
    font-family: arial, tahoma, verdana;
    font-weight: 500;
}

.date {
    text-align: center;
    padding: 10px 0;
    font-size: 24pt;
    font-weight: 800;
}

.timeline-content .event-date {
    display: block;
    font-weight: 800;
    float: right;
    margin-left: 50px;
}
.timeline-content.right .event-date {
    float: left;
    margin-right: 50px;
    margin-left: 0;
}
.timeline-content .event-name {
    font-weight: 800;
    clear:both;
}

.current {
    background: #FFCCBC !important;
}

.current .now {
    display:block;
    text-align: center;
    color: red !important;
    margin-left: auto;
    margin-right: auto;
}

#timeline {
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0 10px;
}
#timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #ee4d4d;
    left: 50%;
    top: 0;
    position: absolute;
}
#timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
}
#timeline .timeline-item {
    position: relative;
}
#timeline .timeline-item .timeline-icon {
    margin-top: 18px;
    background: #ee4d4d;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
#timeline .timeline-item .timeline-content {
    width: 45%;
    background: #fff;
    padding: 4px 20px;
    border: 1px solid #ee4d4d;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
#timeline .timeline-item .timeline-content:before {
    content: '';
    position: absolute;
    left: 45%;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ee4d4d;
}
#timeline .timeline-item .timeline-content.right {
    float: right;
    text-align: right;
}
#timeline .timeline-item .timeline-content.right:before {
    content: '';
    right: 45%;
    left: inherit;
    border-left: 0;
    border-right: 7px solid #ee4d4d;
}
