body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: none;
}

html, body, .viewport {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

/* Dańczak Sławomir fixed this. Thanks for him. */
.main {
  clear: both;
  display:table;
  table-layout: fixed;
  width:100%;
  position: absolute;
  padding-top: 200px;
  top: 0;
  height: 100%;
}

.logo {
  margin: 20px 40px;
  float: left;
}

.weather-widget {
  margin: 20px 40px;
  display: inline;
  float: right;
}

.weather-widget .temperature {
  font-size: 4.5em;
  float: left;
}

.weather-type {
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  float: right;
}

.weather-type .icon {
  font-size: 3em;
}

.weather-type .description {
  font-size: 0.9em;
}

.news-item {
  width: 50%;
  height: 50%;
  padding: 20px;
  display : table-cell;
  font-size: 0.8em;
  /*border: solid red 1px*/;
}

.news-new-row {
   display: table-row;
}

.news-item p {
  text-align: justify;
}
