<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{resources}}/css/kiosk/common.css">
</head>
<body>
<div class="header">
	<img class="logo" src="{{resources}}/images/logo-dark-small.png" alt="Logo PJATK" />
</div>

<div class="parent">
	<div class="child">
		<img class="image" src="{{resources}}/images/error.jpg" alt="Kot" />
		<h1>Cannot load your schedule :(</h1>
		Please, notify us about this fail at <b>s12690@pjwstk.edu.pl</b><br />
		Remember to send <b>date</b> with <b>time</b> of occurrence and your <b>student no.</b>
	</div>
</div>
</body>
</html>

