<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{resources}}/css/kiosk/common.css">
	<link rel="stylesheet" href="{{resources}}/css/kiosk/schedule.css">
</head>
<body>
<div class="header">
	<img class="logo" src="{{resources}}/images/logo-dark-small.png" alt="Logo PJATK" />
</div>

<div class="container">
    <h1 class="date">{{ now }}</h1>
		<div id="timeline">
            {% for cla in schedule_data %}
            <div class="timeline-item">
				<div class="timeline-icon">
				</div>
				<div class="{{ loop.cycle('timeline-content', 'timeline-content right') }} {% if cla.current %}current{% endif %}">
					<p>
						<span class="event-date">
							{% if cla.current %}<span class="now">Teraz!</span>{% endif %}
							{{ cla.start.h }}:{{ fill_zero(cla.start.m) }} - {{ cla.end.h }}:{{ fill_zero(cla.end.m) }}
                        </span>
                        <span class="event-name">
                            {{ cla.title }}
                            <br />Sala: {{ cla.room }}
                        </span>
					</p>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>

</body>
</html>